<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="keywords" content="Vervoerregio Amsterdam WCAG" />
    <meta name="description" content="Vervoerregio Amsterdam WCAG" />
    <meta name="author" content="Rick Vellinga, Daan Carstens en Wesley Schorel" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vervoerregio Amsterdam</title>
    <link rel="icon" type="image/png" href="assets/favicon.svg" />
  
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
