<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<main>
    <section class="hero-banner">
        <div class="header-container">
            <div>
                <h1>Toolgankelijk.</h1>
                <p>Samen met deze toegankelijkheids-tool maakt u eenvoudig websites en apps toegankelijker, geleidt door de WCAG principes en richtlijnen.</p>
            </div>
        </div>
    </section>
</main>


<%- include('./partials/foot') %>