<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<main>
    <section class="hero-banner">
        <div class="header-container">
            <div>
                <h1>Instrumentarium.</h1>
                <p>Controleer aan de hand van deze criteria of de partner "OV-Coach" aan de eisen voldoet.</p>
            </div>
        </div>
    </section>
</main>

<%- include('./partials/foot') %>