<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<main>
    <section class="hero-banner"></section>
    <div class="header-container">
        <div>
            <h1>Projecten.</h1>
            <p>Voeg partners van Vervoerregio Amsterdam toen aan de projecten lijst.</p>
            <svg class="cubeimage" viewBox="0 0 34 31" fill="none" xmlns="http://www.w3.org/2000/svg%22%3E">
                <rect x="11.5" y="8.5" width="22" height="22" stroke="#E30059"/>
            <rect x="0.5" y="0.5" width="22" height="22" fill="white" stroke="#E30059" stroke-dasharray="2 2"/>
            </svg>
        </div>
    </div>

    <section class="instrumentarium-container">
        <article>
            <div>
                <h2>Waarneembaar.</h2>
                <p>Hier komt de checklist</p>
            </div>
        </article>
    </section>

</main>

<%- include('./partials/foot') %>