<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<main>
    <section class="hero-banner">
        <div class="header-container">
            <div>
                <h1>Voeg een URL toe.</h1>
                <p>Voeg links van Vervoerregio Amsterdam partners toe aan de projecten lijst.</p>
            </div>
        </div>
    </section>
</main>



<%- include('./partials/foot') %>