:root {
    --c-white: white;
    --c-black: black;

    --c-purple: #B9005F;
    --c-pink: #E30059;
    --c-blue: #606EB3;
    --c-gray: #ededed;
    --c-darkgray: #C9B5B2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body,html {
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--c-black);
  background: var(--c-gray);
  height: 100%;
}

/* Navigatie */

nav {
  position: sticky;
  top: 0;
}

nav div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--c-white);
  position: relative;
  z-index: 2;
}

ul::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}

nav div a  {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div img {
  height: 3em;
}

nav ul {
  z-index: 2;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  background-color: var(--c-white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav li {
  float: left;
  background-color: var(--c-pink);
}

li.active {
  background-color: var(--c-purple);
}

nav li a {
  display: block;
  color: var(--c-white);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

nav li a:hover {
  background-color: var(--c-purple);
}

.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url("https://i.imgur.com/6Cy55t3.jpeg");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
